<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQigMJLgH8dnuw5Tmpxno_h6qqPllktJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>305421231201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.colinasPets</string>
	<key>PROJECT_ID</key>
	<string>colinas-pets</string>
	<key>STORAGE_BUCKET</key>
	<string>colinas-pets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305421231201:ios:0c3d74ed9fda7b7ae07620</string>
</dict>
</plist>